<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S2PADM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S2PADM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

 
    <userSettings>
        <S2PADM.My.MySettings>
            <setting name="printBox" serializeAs="String">
                <value>C:\S2PADM\Printbox\</value>
            </setting>
            <setting name="fldPath" serializeAs="String">
                <value>\\SPHAS30\prescription$\ADMISSION\</value>
            </setting>
            <setting name="logfldroot" serializeAs="String">
                <value>C:\S2PADM\flog\</value>
            </setting>
            <setting name="backuproot" serializeAs="String">
                <value>C:\S2PADM\backup\</value>
            </setting>
            <setting name="runtimeroot" serializeAs="String">
                <value>C:\S2PADM\runtime\</value>
            </setting>
            <setting name="pdfviewerpath" serializeAs="String">
                <value>C:\Sumatra\sumatrapdf.exe</value>
            </setting>
            <setting name="printerName1" serializeAs="String">
                <value>\\SPHIS51\AGADMR1</value>
            </setting>
            <setting name="OUbkpath" serializeAs="String">
                <value>\\SPHAS30\prescription$\ADMISSION\</value>
            </setting>
            <setting name="OUbksuffix" serializeAs="String">
                <value>_BKUP</value>
            </setting>
            <setting name="taskfrq" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="cpdfpath" serializeAs="String">
                <value>C:\CPDF\cpdf.exe</value>
            </setting>
            <setting name="printboxlogfld" serializeAs="String">
                <value>C:\S2PADM\Printbox\log\</value>
            </setting>
            <setting name="printServer1" serializeAs="String">
                <value>\\SPHIS50</value>
            </setting>
            <setting name="printQueue1" serializeAs="String">
                <value>A02PHARFAXB2</value>
            </setting>
        </S2PADM.My.MySettings>
    </userSettings>
    <applicationSettings>
        <S2PADM.My.MySettings>
            <setting name="fldNameList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C02F_OPH</string>
                        <string>A05F_OPH</string>
                        <string>A07F_OPH</string>
                    </ArrayOfString>
                </value>
            </setting>
        </S2PADM.My.MySettings>
    </applicationSettings>
</configuration>
